@font-face
{
  font-family: "Open Sans";
  src:
    url("assets/OpenSans-Regular.ttf")
    format("truetype");
}

@font-face
{
  font-family: "Open Sans";
  font-weight: bold;
  src:
    url("assets/OpenSans-Bold.ttf")
    format("truetype");
}
